extends ../partials/layout.pug

block page
  .wrapper
    header.header
      a.header__logo.logo(href='#')
        img.logo__image(src='/img/icons/logo-image-only.svg', alt='логотип Тайпотеки')
        span.logo__name Типотека
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            a.header__popup(href='#') Регистрация
          li.header__list-item
            a.header__enter(href='#') Вход с паролем
      a.header__search.button.button--search(href='#', aria-label='поиск по сайту')
    main
      h1.visually-hidden Регистрация пользователя
      section
        .popup.popup--registration.popup--anti
          a.popup__button.button.button--popup-close(aria-label='Закрыть окно') Закрыть окно
          h2.popup__title Регистрация
          .popup__form.popup__form--active.form.form--register
            form(action='/register', method='post', enctype='multipart/form-data')
              .form__field
                label
                  input(type='text', name='email', value=email, placeholder='Электронная почта')
              .form__field
                label
                  input(type='text', name='user_name', value=user_name, placeholder='Имя')
              .form__field
                label
                  input(type='text', name='user_surname', value=user_surname, placeholder='Фамилия')
              .form__field
                label
                  input(type='password', name='user_password', value=user_password, placeholder='Пароль')
              .form__field
                label
                  input(type='password', name='retry_password', value=retry_password, placeholder='Повтор пароля')
              if errorData
                .form__validation-error
                  p.form__error-message При регистрации произошли ошибки:
                  ul.form__errors
                    each error in errorData
                      li.form__error #{error}
              .form__image-loader
                a.form__avatar.avatar
                  img(src='/img/icons/smile.svg', alt='аватар пользователя')
                label
                  input.visually-hidden(type='file', name='avatar')
                  | Загрузить фото профиля
              button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
    include ../partials/footer-page.pug
