extends ../partials/layout.pug

block page
  .wrapper
    header.header
      a.header__logo.logo(href='#')
        img(src='/img/icons/logo.svg', alt='логотип Тайпотеки')
      include ../partials/header-buttons.pug
      a.header__search.button.button--search(href='#', aria-label='поиск по сайту')
    main.articles-category
      h1 #{categoryName}
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each value, key in themesData
            li.themes__item
              if key==categoryName
                a.themes__item-link.themes__item-link--active
                  | #{key}
                  sup #{value}
              else
                a.themes__item-link(href='#')
                  | #{key}
                  sup #{value}
      section.articles-category__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each item in cardData
            li.preview__item
              ul.preview__breadcrumbs
                each category in item.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='#') #{category}
              .preview__background
                img.preview__background-image(src='/img/skyscraper@1x.jpg', width='460', height='240', srcset='/img/skyscraper@1x.jpg, /img/skyscraper@2x.jpg 2x', alt='Фотография небоскреба')
              time.preview__time(datetime='2019-03-21T20:33') #{item.publicationDate}
              h3.preview__name
                a.preview__name-link(href='#') #{item.title}
              p.preview__text #{item.announce}
              a.preview__comment(href='#')
                | Комментарии 
                span.preview__cloud
                |  
                b.preview__comment-count #{item.commentsCount}
    include ../partials/footer-page.pug
