extends ../partials/layout.pug

block page
  .wrapper
    header.header
      a.header__logo.logo(href='#')
        img.logo__image(src='/img/icons/logo-image-only.svg', alt='логотип Тайпотеки')
        span.logo__name Типотека
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            a.header__registration(href='#') Регистрация
          li.header__list-item
            a.header__enter(href='#') Вход с паролем
      a.header__search.button.button--search(href='#', aria-label='поиск по сайту')
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
      section.main-page__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each value, key in themesData
            if value
              li.themes__item
                a.themes__item-link(href='#')
                  | #{key} 
                  sup #{value}
      .main-page__section-flex
        section.main-page__hot.hot
          h2.hot__name
            | Самое обсуждаемое 
            span.hot__icon.hot__icon--fire
          ul.hot__list
            each item in mostCommented
              li.hot__list-item
                a.hot__list-link(href='#')
                  | #{item.announce}
                  sup.hot__link-sup #{item.commentsCount}
        section.main-page__last.last
          h2.last__name
            | Последние комментарии 
            span.last__icon.last__icon--cloud
          ul.last__list
            each item in lastComments
              li.last__list-item
                img.last__list-image(src='/img/avatar-small-1.png', width='20', height='20', alt='Аватар пользователя')
                b.last__list-name #{item.name}
                a.last__list-link(href='#') #{item.comment}
      section.main-page__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each item in cardData
            li.preview__item
              ul.preview__breadcrumbs
                each category in item.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href='#') #{category}
              .preview__background
                img.preview__background-image(src='/img/skyscraper@1x.jpg', width='460', height='240', srcset='/img/skyscraper@1x.jpg, /img/skyscraper@2x.jpg 2x', alt='Фотография небоскреба')
              time.preview__time(datetime='2019-03-21T20:33') #{item.publicationDate}
              h3.preview__name
                a.preview__name-link(href='#') #{item.title}
              p.preview__text #{item.announce}
              a.preview__comment(href='#')
                | Комментарии 
                span.preview__cloud
                |  
                b.preview__comment-count #{item.commentsCount}
      .preview__toggle-wrapper
        form(action='/', method='post', id='paginationForm', style='display: flex; justify-content: center')
          ul.preview__pagination.pagination
            li
              if currentPage == 1
                a.pagination__button.button.button--backwards.button--disabled(href=`?pageNumber=${Number(currentPage) - 1}`) Назад
              else
                a.pagination__button.button.button--backwards(href=`?pageNumber=${Number(currentPage) - 1}`) Назад
            each page, index in pages
              if page == currentPage
                li.pagination__item.pagination__item--active
                  a.button #{page}
              else
                li.pagination__item
                  a.button(href=`?pageNumber=${page}`) #{page}
            li
              if currentPage == pages.length
                a.pagination__button.button.button--forward.button--disabled(href=`?pageNumber=${Number(currentPage) + 1}`) Вперед
              else
                a.pagination__button.button.button--forward(href=`?pageNumber=${Number(currentPage) + 1}`) Вперед
    include ../partials/footer-page.pug
