extends ../partials/layout.pug

block page
  .wrapper
    header.header
      a.header__logo.logo(href='#')
        img.logo__image(src='/img/icons/logo-image-only.svg', alt='логотип Тайпотеки')
        span.logo__name Типотека
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            p #{publicationOwner}
          li.header__list-item
            a.header__exit(href='#') Выйти
      a.header__avatar.avatar
        img(src='/img/avatar-2.png', alt='аватар пользователя')
      a.header__search.button.button--search(href='#', aria-label='поиск по сайту')
    main
      section.post
        h1.visually-hidden Пост
        section.post__content
          h2.visually-hidden Основное содержание
          .post__wrapper
            .post__head
              a.post__backwards.button.button--backwards(href='#') Назад
              time.post__date(datetime='2019-03-21T20:33') #{publicationDate}
              h2.post__title.title.title--main #{title}
              ul.post__themes.themes
                each category in categories
                  li.themes__item
                    a.themes__item-link(href='#')
                      | #{category.category_name}
                      sup #{category.category_count}
                    button.themes__remove-btn(type='button') Удалить категорию
            if picture
              .post__picture
                img(src=picture, alt='пейзаж море, скалы, пляж')
            .post__text
              p.
                #{fullText}
        .post__wrapper.post__wrapper--comments
          section.post__comments.comments
            h2.comments__title.title.title--middle Комментарии
            ul.comments__list
              if comments.length
                each comment in comments
                  li.comments__comment
                    .comments__avatar.avatar
                      img(src='/img/avatar-1.png', alt='аватар пользователя')
                    .comments__text
                      .comments__head
                        p #{comment.comment_owner} •
                        time.comments__date(datetime=comment.data_comment) #{comment.data_comment}
                      p.comments__message #{comment.comment_text}
            .comments__footer.comments__footer--user
              form(action='#', method='POST')
                .comments__avatar.avatar
                  img(src='/img/avatar-2.png', alt='аватар пользователя')
                label
                  textarea(rows='1', name='message', placeholder='Присоединиться к обсуждению')
                button.comments__button.button.button--colored(type='submit') Опубликовать
    include ../partials/footer-page.pug
